body {
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;

  }


.wikitable 
{
    font-family: "Consolas";
    font-size: 18px;
    color: #71C7F0;
    background-image: url("Asset 1@4x.png");
    background-size: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #71C7F0;
    padding: 10px;
    margin: 20px;
    
}

p, h2, h3
{
    color: white;
    font-family: "Consolas";
}

td, th
{
    border-bottom: #71C7F0 1px solid;
}

tr:hover {background-color: #71C7F0;
color: black;}

.name
{
    font-weight: bold;
    text-align: right;
}

table
{
    text-align: left;
    border-spacing: 10px;
}

td
{
    margin-left: 5px;
}

img
{
    margin: 20px;
}
